services:

  namenode:
    image: apache/hadoop:3.3.6
    container_name: namenode
    hostname: namenode
    command: ["hdfs", "namenode"]
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - namenode-data:/opt/hadoop/data
      - ./hadoop:/opt/hadoop/etc/hadoop
    networks:
      - bigdata

  datanode:
    image: apache/hadoop:3.3.6
    container_name: datanode
    command: ["hdfs", "datanode"]
    volumes:
      - datanode-data:/opt/hadoop/data
      - ./hadoop:/opt/hadoop/etc/hadoop
    depends_on:
      - namenode
    networks:
      - bigdata

  resourcemanager:
    image: apache/hadoop:3.3.6
    container_name: resourcemanager
    command: ["yarn", "resourcemanager"]
    ports:
      - "8088:8088"
    volumes:
      - ./hadoop:/opt/hadoop/etc/hadoop
    depends_on:
      - namenode
    networks:
      - bigdata

  nodemanager:
    image: apache/hadoop:3.3.6
    container_name: nodemanager
    command: ["yarn", "nodemanager"]
    volumes:
      - ./hadoop:/opt/hadoop/etc/hadoop
    depends_on:
      - resourcemanager
    networks:
      - bigdata

  spark:
    image: apache/spark:3.5.1
    container_name: spark
    environment:
      - SPARK_MODE=client
    volumes:
      - ./spark:/opt/spark/conf
    depends_on:
      - resourcemanager
    networks:
      - bigdata

volumes:
  namenode-data:
  datanode-data:

networks:
  bigdata:
    driver: bridge
